* {
    margin: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Alata', sans-serif;

}

.font_1 {
    color: #ffffff;
    font-size: 2rem;
}


.font_2 {
    color: #ffffff;
    font-size: 140%;
    background-color: #0f0f0fac;
    border: 1px solid #232323;
    border-radius: 20px;
    padding: 2em;
    border: #2a2a2a;
    backdrop-filter: blur(20px);


}

main {
    width: 100%;
    background-color: rgb(0, 0, 0);
}
header {
    padding: 28px 30px 28px 30px;
    background-color: gray;
    background: linear-gradient(rgb(142, 142, 142), #676767);
    width: 100%;
    position: fixed; 
    z-index: 2;
    top: 0;


}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left_corner{
    display: flex;
    justify-content: end;
    gap: 10%;
}



.titulo {
    display: flex;


}

@media screen {  
    .minha_foto {
        border-radius: 50%;
        width: 247px;
        height: 247px;
        transition: 1s;
    }
}

@media screen {
    .minha_foto:hover {
        transform: scale(1.16);       

    }
}

.logo_IN {
    width: 50px;
    height: 28px;
    
}

.presentation {
    gap: 125px;
    flex-direction: row;
    display: flex;
    width: 100%;
    background-color: #000000;
    padding: 32px;
    gap: 125px;
    justify-content: space-evenly;
    margin-top: 3em;
    
    
}

.nome_header {
    font-size: 200%;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.gitlab_header {
    display: flex;
    align-self: flex-end;
    font-size: 200%;
    color: rgb(255, 255, 255);
    transition: 1s;
    text-decoration:none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.gitlab_header:hover {
    display: flex;
    align-self: flex-end;
    font-size: 200%;
    color: rgb(255, 0, 0);
    transform: rotate(1turn);
    

}

.base {
    padding: 60px 20px;
    background-color: #000000;
    display: flex;
    flex-direction: row;
    /* gap: 50px; */
    justify-content: space-around;
    width: 100%; 
    flex-wrap: wrap;

}

.about_me {
    /* 50px 90px 50px 20px; */
    padding-top: 50px;
    padding-bottom: 90px;
    padding-right: 80px;
    text-align: justify;


}

.sub_base1, .sub_base2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1.125rem;
    /* background-color: rgb(142, 142, 142); */
    border-radius: 10px;
    width: 40%;
    background: linear-gradient(rgb(142, 142, 142), #2a2a2a);

}


.cards_hobbies, .cards_top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* border: 1px solid red; */
    flex-wrap: wrap;
    gap: 10px;
    

}

.card, .card2 {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 17px;
    box-shadow: 3px 4px 2px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    width: 18%;
    min-width: 80px;
    height: 20vh;
    background-color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 1.2em;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
    color: white;
    



}

.card, .card2 {
    transition: 0.4s;

}

.card:hover, .card2:hover {
    transform: scale(1.2);
    
}

.sub_base1 p {
    align-self: flex-end;
    padding-bottom: 2.5vw;

}

.sub_base2 p {
    padding-bottom: 2.5vw;

}

.titulo_cards {
    font-size: 160%;
    text-shadow: 2.5px 2.5px 2px rgba(0, 0, 0, 0.5);
    color: white

}

footer {
    display: flex;
    padding: 16px 32px;
    justify-content: space-between;
    /* background-color: #808080; */
    background: linear-gradient(rgb(142, 142, 142), #676767);

}

.logos
 {
    width: 30px;
    height: 30px;
}

.social_media {
    display: flex;
    flex-direction: row;
    margin-left: 1em;
    gap: 1em;

}

#presentation_foto {
    padding-left: 10%;
    padding-top: 1%;
}

@media(max-width: 1368px) {
    .card, .card2 {
        width: 30%;
    }
    .cards_hobbies, .cards_top {
        display: flex;
        justify-content: space-evenly;
    }

    .about_me {
        /* 50px 90px 50px 20px; */
        padding-top: 50px;
        padding-bottom: 90px;
        text-align: justify;
    }
}


@media(max-width: 780px) {
    .presentation {
        flex-direction: column;

    }

}

@media(max-width: 430px) {
    .base {
        display: flex;
        flex-direction: column;
        align-content: center;
        gap: 50px;
        padding-right: 0%;

    }

    .sub_base1, .sub_base2 {
        width: 90%;

    }

    .presentation {
        align-items: center;
    }

    .font_2 {
        text-align: justify;
    }

    .about_me {
        /* 50px 90px 50px 20px; */
        padding-top: 50px;
        padding-bottom: 90px;
        text-align: justify;
        padding-right: 0%;
    
    }
}

.card_dig {
    background-image: url(digitacao.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: rgb(0, 0, 0);
}


.card_ped{
    background-image: url(pedalar.jpg);
    background-size: 100% 65%;
    background-repeat: no-repeat;
    background-color: #000000;
    color: white;
}

.card_idi {
    background-image: url(idiomas.JPEG);
    background-size: 110% 100%;
    background-repeat: no-repeat;
}

.card_bas {
    background-image: url(basket.png);
    background-size: 100% 65%;
    background-repeat: no-repeat;

} 

.card_vio {
    background-image: url(violao.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #000000;

}

.card2_1 {
    background-image: url();
    background-image: url(stevie.jpg);
    background-size: 150% 100%;
    background-repeat: no-repeat;

}

.card2_2 {
    background-image: url();
    background-image: url(jcole.jpg);
    background-size: 150% 100%;
    background-repeat: no-repeat;

}

.card2_3 {
    background-image: url();
    background-image: url(kendrick.jpg);
    background-size: 130% 100%;
    background-repeat: no-repeat;

}

.card2_4 {
    background-image: url();
    background-image: url(djavan.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}

.card2_5 {
    background-image: url();
    background-image: url(daniel.jpg);
    background-size: 120% 100%;
    background-repeat: no-repeat;

}
